# Files:
# /.env
/db/main.sqlite*
/config.toml
/package-lock.json

# Folders:
/dist
/node_modules

# Sets:
/public/generated_images/*
/public/profile_images/*
/public/uploaded_images/*

# Exceptions:
!/public/generated_images/.gitkeep
!/public/profile_images/.gitkeep
!/public/uploaded_images/.gitkeep
